include LICENSE
include README.md
include pyproject.toml

recursive-include tumorsphere *.py
recursive-include library *
recursive-include .github *

exclude requirements.txt
# exclude tox.ini

recursive-exclude tests *
recursive-exclude data *
recursive-exclude examples *
recursive-exclude experiments *
recursive-exclude snapshots *
recursive-exclude ovito_plotting *
#recursive-exclude docs *
recursive-exclude tumorsphere.egg-info *
recursive-exclude .pytest_cache *
recursive-exclude .ipynb_checkpoints *
recursive-exclude __pycache__ *

include *.yml